<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="text-center col-md-6 offset-md-3">
                <img class="" src="../../../assets/home/files/logo-min_smallf951.png"/>
                <h1 class="text-center">Register</h1>
                <!-- {{user | json}} -->
                <form (ngSubmit)="formSubmit()" class="text-center">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input type="text" name="userName"
                        required
                        [(ngModel)]="user.userName"
                        matInput placeholder="Enter username here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" name="password"
                        required
                        [(ngModel)]="user.password"
                        matInput placeholder="Enter Password here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="firstName"
                        required
                        [(ngModel)]="user.firstName"
                        matInput placeholder="Enter First Name here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastName"
                        required
                        [(ngModel)]="user.lastName"
                        placeholder="Enter Last Name here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" name="email"
                        required
                        [(ngModel)]="user.email"
                        matInput placeholder="Enter Email here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="number" name="phone"
                        required
                        [(ngModel)]="user.phone"
                        matInput placeholder="Enter Phone Number here">
                    </mat-form-field>

                    <a class="text-center" routerLink="/login">Already have account?</a>

                    <br />
                    <br />

                    <div class="container text-center">
                        <button mat-raised-button color="primary">Submit</button>
                        <button mat-raised-button class="button-gap" color="primary">Clear</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>